VITE_MAPBOX_ACCESS_TOKEN=
VITE_API_BASE=http://127.0.0.1:8000/api/v1
VITE_API_BASE_URL=http://127.0.0.1:8000/api/v1
VITE_CHAT_WS_URL=ws://127.0.0.1:8000/api/v1/chat/ws
VITE_NOTIFICATIONS_WS_URL=ws://127.0.0.1:8000/api/v1/notifications/ws
VITE_MOCK_API=false
